@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@using HayvanBarinagi.Models
@model List<Hayvan>
@{
    ViewData["Title"] = "Hayvanlar";
}
<h2 class="text-center mb-4">@localizer["title"]</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@localizer["name"]</th>
                <th scope="col">@localizer["age"]</th>
                <th scope="col">@localizer["genius"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Adi</td>
                    <td>@item.Yas</td>
                    <td>@item.Cins</td>
                </tr>
            }
        </tbody>
    </table>
</div>