@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Sahiplendirme Süreci";
}
<h2 class="text-center">@localizer["title"]</h2>
<p class="text-center">@localizer["p"]</p>

<div class="row">
    <div class="col-md-4">
        <div class="card custom-card">
            <div class="card-body">
                <h3 class="card-title">@localizer["1"]</h3>
                <p class="card-text">@localizer["1t"]</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card custom-card">
            <div class="card-body">
                <h3 class="card-title">@localizer["2"]</h3>
                <p class="card-text">@localizer["2t"]</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card custom-card">
            <div class="card-body">
                <h3 class="card-title">@localizer["3"]</h3>
                <p class="card-text">@localizer["3t"]</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card custom-card">
            <div class="card-body">
                <h3 class="card-title">@localizer["4"]</h3>
                <p class="card-text">@localizer["4t"]</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card custom-card">
            <div class="card-body">
                <h3 class="card-title">@localizer["5"]</h3>
                <p class="card-text">@localizer["5t"]</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card custom-card">
            <div class="card-body">
                <h3 class="card-title">@localizer["6"]</h3>
                <p class="card-text">@localizer["6t"]</p>
            </div>
        </div>
    </div>
</div>

<style>
    /* Özel stil düzenlemelerini buraya ekleyebilirsiniz. */
    .custom-card {
        height: 200px; /* Card yüksekliği */
        margin-bottom: 20px; /* Card aralarındaki boşluk */
    }

    .card-body {
        text-align: center;
        padding-top: 20px;
    }
</style>

