@using HayvanBarinagi.Models
@model List<Hayvan>
<h2 class="text-center mb-4">Barınağımızdaki Hayvanların Tablosu</h2>
<a class="btn btn-primary float-end mb-2" asp-area="" asp-controller="Admin" asp-action="HayvanEkle">Hayvan Ekle</a>
<div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Adı</th>
      <th scope="col">Yas</th>
      <th scope="col">Cins</th>
      <th scope="col">Düzenle</th>
      <th scope="col">Sil</th>
    </tr>
  </thead>
  <tbody>
      @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Adi</td>
                    <td>@item.Yas</td>
                    <td>@item.Cins</td>
                    <td>
                        <a class="btn btn-secondary" asp-area="" asp-controller="Admin" asp-action="HayvanDuzenle" asp-route-id="@item.Id">Düzenle</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-area="" asp-controller="Admin" asp-action="HayvanSil" asp-route-id="@item.Id">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
</table>
</div>
